<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aco.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.aco.model.User">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="USERNAME" property="username" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password" jdbcType="CHAR" />
		<result column="STATE" property="state" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<collection property="roleSet" column="roleId" ofType="com.aco.model.Role">
			<id property="roleId" column="ID" />
			<result property="roleName" column="ROLE_NAME" />
			<result property="roleSign" column="ROLE_SIGN" />
			<result property="description" column="DESCRIPTION" />
			<!-- 再在role中关联role和permission -->
			<collection property="permissionSet" column="permissionId"
				ofType="com.aco.model.Permission">
				<id property="permissionId" column="ID" />
				<result property="permissionName" column="PERMISSION_NAME" />
				<result property="permissionSign" column="PERMISSION_SIGN" />
				<result property="description" column="DESCRIPTION" />
			</collection>
		</collection>
	</resultMap>
	<sql id="Base_Column_List">
		ID, USERNAME, PASSWORD, STATE, CREATE_TIME
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from TUSER
		where 1=1
		<if test="id != null and id !=''">
		and ID = #{id,jdbcType=VARCHAR}
		</if>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from TUSER
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.aco.model.User">
		insert into TUSER (ID,
		USERNAME, PASSWORD,
		STATE, CREATE_TIME)
		values (#{id,jdbcType=VARCHAR},
		#{username,jdbcType=VARCHAR},
		#{password,jdbcType=CHAR},
		#{state,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.aco.model.User">
		insert into TUSER
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="username != null">
				USERNAME,
			</if>
			<if test="password != null">
				PASSWORD,
			</if>
			<if test="state != null">
				STATE,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=CHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.aco.model.User">
		update TUSER
		<set>
			<if test="username != null">
				USERNAME = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				PASSWORD = #{password,jdbcType=CHAR},
			</if>
			<if test="state != null">
				STATE = #{state,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.aco.model.User">
		update TUSER
		set
		USERNAME = #{username,jdbcType=VARCHAR},
		PASSWORD =
		#{password,jdbcType=CHAR},
		STATE = #{state,jdbcType=VARCHAR},
		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
		where ID =
		#{id,jdbcType=VARCHAR}
	</update>

	<resultMap type="com.aco.model.User" id="BaseResultMap2"
		extends="BaseResultMap">
	</resultMap>
	<select id="findUserByUsername" resultMap="BaseResultMap2">
		select
		u.ID,
		u.USERNAME,
		u.PASSWORD,
		u.STATE,
		u.CREATE_TIME,
		r.ID,
		r.ROLE_NAME,
		r.ROLE_SIGN,
		r.DESCRIPTION,
		p.ID,
		p.PERMISSION_NAME,
		p.PERMISSION_SIGN,
		p.DESCRIPTION
		from
		tuser u,
		role r,
		permission p,
		role_permission rp,
		user_role ur
		where
		u.ID=ur.USER_ID
		and
		r.ID=ur.ROLE_ID
		and
		r.ID=rp.ROLE_ID
		and
		p.ID=rp.PERMISSION_ID
		and
		u.USERNAME= #{username,jdbcType=VARCHAR}
	</select>
	
<select id="findUserByUserId" resultMap="BaseResultMap">
		select
		u.ID as "uid",
		u.USERNAME,
		u.PASSWORD,
		u.STATE,
		u.CREATE_TIME,
		r.ID as "rid",
		r.ROLE_NAME,
		r.ROLE_SIGN,
		r.DESCRIPTION as "rd",
		p.ID AS "pid",
		p.PERMISSION_NAME,
		p.PERMISSION_SIGN,
		p.DESCRIPTION as "pd",
		ur.ROLE_ID AS "urrid",
		rp.ROLE_ID AS "rprid"
		from
		tuser u,
		role r,
		permission p,
		role_permission rp,
		user_role ur
		where
		u.ID=ur.USER_ID
		and
		r.ID=ur.ROLE_ID
		and
		r.ID=rp.ROLE_ID
		and
		p.ID=rp.PERMISSION_ID
		and
		u.ID= #{id,jdbcType=VARCHAR}
	</select>
</mapper>